@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="text-center">Admin Dashboard</h2>

<div class="row mt-5">
    <div class="col-md-6">
        <button class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("Users", "Admin")'">
            Manage Users
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("Index", "Flight")'">
            Manage Flights
        </button>
    </div>
</div>
